<nav id="sidebar" style="height: 650px;">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary" style="margin-right: 14px;">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4">
        <ul class="list-unstyled components mb-5">
            <li>
                <a href="/home-page"><span class="fa fa-pagelines mr-3"></span> Home Page</a>
            </li>
            <li>
                <a href="/new-product"><span class="fa fa-truck mr-3"></span> New Product</a>
            </li>
            <li>
                <a href="/sales"><span class="fa fa-line-chart mr-3"></span> Sales</a>
            </li>
        </ul>
    </div>
</nav>