a.acclink {
    color: #000 !important;
    text-decoration: none;
}
a.acclink:hover {
    color: #FFF !important;
    text-decoration: none;
}

/*hr{margin-bottom: 0px !important;}*/

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-elevation-z8 {
    box-shadow: none;
    border: solid 1px rgba(0, 0, 0, 0.12);
}

.mat-header-row {
    background-color: #b2b2b2;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px !important;
    letter-spacing: normal;
}

.mat-sort-header-container {
    font-size: 14px;
    color: red;
}

.mat-row:nth-child(even){
    background-color: #ececec;
}

.mat-row:nth-child(odd){
    background-color: #f9f9f9;
}