a.acclink {
    color: #000 !important;
    text-decoration: none;
}

a.acclink:hover {
    color: #FFF !important;
    text-decoration: none;
}

.date-picker-drop-down {
    width: 100%;
    /*border: 1px solid blue;*/
}

.example-full-width {
    /*margin-right: 12px;*/
    /*border: 2px solid red;*/
    width: 100%;
}

.mat-form-field-appearance-fill {
    /*border: 1px solid green;*/
    height: 42px;
}

::ng-deep .example-full-width .mat-form-field-wrapper .mat-form-field-flex {
    border-radius: 0.3rem;
    padding: 0em 0em 0 .75em;
    /*background-color: cyan;*/
    height: 40px;
    border: 1px solid gray;
}

.mandetory-field {
    color: #b51818;
}